# Ohjaa kaikki liikenne yhteen HTTPS-osoitteeseen (ulkomaalarit.fi)
RewriteEngine On

RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.ulkomaalarit\.fi$ [NC]
RewriteRule ^ https://ulkomaalarit.fi%{REQUEST_URI} [R=301,L,NE]

# /home on vanha osoite, jonka oikea sivu on juuren etusivu.
RewriteRule ^home/?$ https://ulkomaalarit.fi/ [R=301,L]

# Salli muut pyynnöt normaalisti
